# intermediary LaTeX artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lot
*.lof

# intermediary biblatex artifacts
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.synctex(busy)

# output files, except for the images folder
*.pdf
!images/*.pdf

# python cache files
__pycache__

# VS Code Editor settings
.vscode/
